{% extends 'base.html.twig' %}

{% block body %}

    <h3 class="text-secondary my-5">{{ registro.nombre }} {{ registro.apaterno}} {{ registro.amaterno }} <small>{{ registro.email }}</small></h3>



    <div class="row">
        <div class="col">
            <h5 class="text-secondary">Datos personales</h5>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <p class="card-text">Ciudad</p>
                            <p class="lead">{{ registro.ciudad }}</p>
                            <h5 class="card-title">Estado</h5>
                            <p class="card-text">{{ registro.estado }}</p>
                            {#<ul class="list-group list-group-flush">#}
                                {#<li class="list-group-item">Ciudad: {{ registro.ciudad }}</li>#}
                                {#<li class="list-group-item">Estado: {{ registro.estado }}</li>#}
                            {#</ul>#}
                        </div>
                        <div class="col">
                            {#<ul class="list-group list-group-flush">#}
                                {#<li class="list-group-item">Teléfono: {{ registro.telefono }}</li>#}
                                {#<li class="list-group-item">Sexo: {{ registro.sexo }}</li>#}
                            {#</ul>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <h5 class="text-secondary">Datos académicos</h5>
            <div class="card">
                <div class="card-body">

                            <ul class="list-group list-group-flush">

                                <li class="list-group-item">Universidad: {{ registro.universidad }}</li>
                                <li class="list-group-item">Estatus: {{ registro.estatus }}</li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

            <tr>
                <th>Email</th>
                <td>{{ registro.email }}</td>
            </tr>
            <tr>
                <th>Estatus</th>
                <td>{{ registro.estatus }}</td>
            </tr>
            <tr>
                <th>Universidad</th>
                <td>{{ registro.universidad }}</td>
            </tr>
            <tr>
                <th>Beca</th>
                <td>{% if registro.beca %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Nombreprofesor</th>
                <td>{{ registro.nombreProfesor }}</td>
            </tr>
            <tr>
                <th>Emailprofesor</th>
                <td>{{ registro.emailProfesor }}</td>
            </tr>
            <tr>
                <th>Semestre</th>
                <td>{{ registro.semestre }}</td>
            </tr>
            <tr>
                <th>Nombreemergencia</th>
                <td>{{ registro.nombreEmergencia }}</td>
            </tr>
            <tr>
                <th>Telemergencia</th>
                <td>{{ registro.telEmergencia }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ registro.slug }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if registro.createdAt %}{{ registro.createdAt|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('registro_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('registro_edit', { 'slug': registro.slug }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
