{% extends 'base.html.twig' %}

{% block body %}

    <a class="btn btn-outline-primary mt-5" href="{{ path('registro_index') }}">Regresar a la lista</a>

    <h3 class="text-secondary my-5">{{ registro.nombre }} {{ registro.apaterno}} {{ registro.amaterno }} <small>{{ registro.email }}</small></h3>

    <div class="row">
        <div class="col">
            <h5 class="text-secondary"><i class="fa fa-user"></i> Datos personales</h5>
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-md-3 text-muted">Ciudad:</div>
                        <div class="col-md-9">{{ registro.ciudad }}</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-3 text-muted">Estado:</div>
                        <div class="col-md-9">{{ registro.estado }}</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-3 text-muted">Teléfono:</div>
                        <div class="col-md-9">{{ registro.telefono }}</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-3 text-muted">Sexo:</div>
                        <div class="col-md-9">{{ registro.sexo }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <h5 class="text-secondary"><i class="fa fa-graduation-cap"></i> Datos académicos</h5>
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-md-3 text-muted">Universidad:</div>
                        <div class="col-md-9">{{ registro.universidad }}</div>
                    </div>
                    <div class="row mb-2 boder">
                        <div class="col-md-3 text-muted">Estatus:</div>
                        <div class="col-md-9">{{ registro.estatus }}</div>
                    </div>
                    {% if registro.beca %}
                    <div class="row my-2 pt-2 border-top">
                        <div class="col-md-3 text-muted">Beca:</div>
                        <div class="col-md-9">Solicito beca</div>
                    </div>
                    {% else %}
                        <div class="row my-2 pt-2 border-top">
                            <div class="col-md-3 text-muted">Beca:</div>
                            <div class="col-md-9">No</div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if registro.beca %}
        <h5 class="text-secondary mt-4"><i class="fa fa-archive"></i> Documentos</h5>
        <div class="card mb-4">
        <div class="card-body">
            <div class="row mb-2 text-muted">
                <div class="col-md-4"><a href="{{ vich_uploader_asset(registro, 'credencialFile') }}"><i class="fa fa-file"></i> Credencial</a></div>
                <div class="col-md-4"><a href="{{ vich_uploader_asset(registro, 'historialFile') }}"><i class="fa fa-file"></i> Historial</a></div>
                <div class="col-md-4"><a href="{{ vich_uploader_asset(registro, 'formatoFile') }}"><i class="fa fa-file"></i> Formato</a></div>
            </div>
        </div>
    </div>


        <h5 class="text-secondary mt-4"><i class="fa fa-check"></i> Recomendación</h5>
        <div class="card mb-4">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-md-3 text-muted">Nombre del profesor:</div>
                    <div class="col-md-9">{{ registro.nombreProfesor }}</div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-3 text-muted">Correo electrónico:</div>
                    <div class="col-md-9">{{ registro.emailProfesor }}</div>
                </div>

                {% if registro.recomendacion %}
                    <div class="row my-4">
                        <div class="col">
                            <p class="text-muted">{{ registro.recomendacion.recomendacion }}</p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <h5 class="text-secondary mt-4"><i class="fa fa-stethoscope"></i> Datos de emergencia</h5>
    <!-- Emergencia -->
    <div class="card mb-4">
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-md-3 text-muted">Contacto de emergencia:</div>
                <div class="col-md-3">{{ registro.nombreEmergencia }}</div>
                <div class="col-md-3 text-muted">Teléfono de emergencia:</div>
                <div class="col-md-3">{{ registro.telEmergencia }}</div>
            </div>
        </div>
    </div>

{% endblock %}
